@if (User.Identity!.IsAuthenticated)
{
    <ul class="navbar-nav me-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity.Name
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Member" asp-action="Index">Profile</a></li>
                <li><a class="dropdown-item" asp-controller="Member" asp-action="UserEdit">Profile Düzenle</a></li>

                @if(User.IsInRole("Admin"))
                {
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Panel</a></li>
                }

                <li><a class="dropdown-item" asp-controller="Member" asp-action="PasswordChange">Şifre Değiştir</a></li>
                <li><a class="dropdown-item" asp-controller="Member" asp-action="Claims">Claims</a></li>
                <li><a class="dropdown-item" asp-controller="Member" asp-action="CityPage">City Page</a></li>
                <li><a class="dropdown-item" asp-controller="Member" asp-action="ExchangePage">Exchange Page</a></li>
                <li><a class="dropdown-item" asp-controller="Member" asp-action="ViolencePage">Violence Page</a></li>
                <li><a class="dropdown-item" asp-route-returnurl="/Home/Index" asp-controller="Member" asp-action="LogOut">Çıkış Yap</a></li>
            </ul>
        </li>
    </ul>
}
else
{
    <a asp-action="SignIn" class="btn btn-outline-success mx-1">Üye Giriş</a>
    <a asp-action="SignUp" class="btn btn-outline-info">Üye Kayıt</a>
}