@model List<ClaimViewModel>
@{
    ViewData["Title"] = "Claims";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Claims</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Issuer</th>
            <th scope="col">Type</th>
            <th scope="col">Value</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Model)
        {
            <tr>
                <td>@claim.Issuer</td>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }

    </tbody>

</table>

